
body{
    background-color: rgb(209, 142, 59);
}
/* Title*/
.H2{
    text-align: center;
}

/* Main area*/
.wrapper {
    display: grid;
    text-align: center;
    grid-template-columns: 100px;
    background-color: blanchedalmond;
}

.field_1, .field_2 {
    padding: 5px;
    border-radius: 5px;
    width: 200px; 
    text-align: center;
    grid-template-rows: 75px;
}



